CMakeCache.txt
CMakeFiles
*.cmake
install_manifest.txt
*.so
Makefile
/_CPack_Packages
*.deb
*.so
*.so.*
/debian/files
*.log
*.substvars
*.debhelper
/debian/libpedalog0
/debian/libpedalog-dev
/debian/tmp
